* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35; 
}

.nav-img {
  width: 60px;
  margin-right: 7px;
}

nav {
  background-color: #21222A;
  display: flex;
  align-items: center;
  padding: 30px 25px;
  height: 90px;

}

.nav-logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav-title {
  color: #DEEBF8;
  font-weight: 600;
}

.main_section {
  padding: 57px ;
  color: white;
  background-image: url(../public/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main-title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.04em;
}

.main-facts {
  margin-top: 46px;
}

.main-facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main-facts > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;

}