body {
  margin: 0;
}

#profile-img {
  width: 317px;
  height: 317px;
}
#root {
  background-color: #23252c;
}
.container-1 {
  width: 317px;
  height: 868px;
  margin: auto;
}

.name {
  color: white;
  margin: auto;
  margin: 0;
  font-size: 25px;
  padding: 0;
  font-weight: bold;
}

.designation {
  color: #f3bf99;
  margin: 0;
  font-size: 12.8px;
  padding: 0;
}

.website {
  color: #f5f5f5;
  margin: 0;
  font-size: 10.24px;
  padding: 0;
}

.container-2 {
  background-color: #1a1b21;
  width: 317px;
  height: 780px;
  display: grid;
  justify-items: center;
  font-family: Inter, sans-serif;
  letter-spacing: 0.6px;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.btn {
  display: flex;
  gap: 10px;

}

#email_btn{
  width: 115px;
  background-color: #D1D5DB;
  color: black;
  font-family: Inter, sans-serif;
  border-radius: 8px;
}

#linkedin_btn{
  width: 115px;
  background-color: #5093E2;
  font-family: Inter, sans-serif;
  color: white;
  border-radius: 8px;
}

.para {
  font-size: 10.24px;
  color: #DCDCDC;
}

.h3_heading{
  font-size: 16px;
  color: #F5F5F5;
  padding-bottom: 0;
  margin-bottom: 0;

}

.footer{
  width: 317px;
  height: 64px;
  background-color: #161619;
  padding: 0;
  margin: 0;
  
}